<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.pixiedustapps.whatsmydestiny"
        versionCode="16"
        version   = "2.17">

    <!-- versionCode is optional and Android only -->
<preference name="phonegap-version" value="cli-9.0.0" />
<preference name="android-targetSdkVersion" value="28" />
<preference name="AndroidPersistentFileLocation" value="Compatibility" />
<preference name="webviewbounce" value="false" />
<name>What's My Destiny?</name>
<description>Wes Hamilton Numerology</description>
<gap:platform name="ios" />
<gap:platform name="android" />
<preference name="permissions" value="none"/>

<!-- should be okay -->
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<gap:plugin name="cordova-plugin-fullscreen" source="npm" />
<plugin name="cordova-plugin-inappbrowser" source="npm" />
<plugin name="cordova-plugin-media" source="npm" spec="1.0.1" />
<plugin name="cordova-plugin-network-information" source="npm" spec="2.0.2" />
<plugin name="cordova-plugin-contacts" source="npm" spec="2.2.0" />
<!--
<allow-navigation href="corepassion.com/*" />
-->
<preference name="KeyboardDisplayRequiresUserAction" value="false" />
<preference name="orientation" value="landscape" />
<preference name="target-device" value="tablet" />
<preference name="fullscreen" value="true" />

<preference name="StatusBarOverlaysWebView" value="true" />
<gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
</gap:config-file>
<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
</gap:config-file>
<access origin="*" />
<access origin="mailto:*" launch-external="yes"/>

<feature name="http://api.phonegap.com/1.0/network" />
<feature name="http://api.phonegap.com/1.0/notification" />
<feature name="http://api.phonegap.com/1.0/media" />
<feature name="http://api.phonegap.com/1.0/device" />






<icon src="icon.png" />
<splash src="splash.png" />


<gap:splash src="res/splash.png" />

<icon src="res/ldpi.png" platform="android" qualifier="ldpi" />
<icon src="res/mdpi.png" platform="android" qualifier="mdpi" />
<icon src="res/hdpi.png" platform="android" qualifier="hdpi" />
<icon src="res/xhdpi.png" platform="android" qualifier="xhdpi" />
<icon src="res/xxhdpi.png" platform="android" qualifier="xxhdpi" />
<icon src="res/xxxhdpi.png" platform="android" qualifier="fr-xxhdpi" />

<!-- Define app icon for each platform. -->
<icon src="res/android_icon.png" />
<!-- iOS 7+ -->


<icon src="res/icon-29.png" width="29" height="29"/>
<icon src="res/icon-29@2x.png" width="58" height="58"/>
<icon src="res/icon-29@3x.png" width="87" height="87"/>

<!-- iPhone / iPod Touch  -->
<icon src="res/icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="res/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

<!-- iPhone 6 / 6+ -->
<icon src="res/icon-60@3x.png" gap:platform="ios" width="180" height="180" />


<!-- iPad -->
<icon src="res/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="res/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
<!-- iPad -->
<icon src="res/icon-76.png" gap:platform="ios" width="76" height="76" />
<icon src="res/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

<!-- app store icon -->
<icon src="res/icon-1024.png" width="1024" height="1024" />
<!-- uh... -->
<icon src="res/icon-small-20.png" width="20" height="20"/>
<icon src="res/icon-small-20@2x.png" width="40" height="40"/>
<icon src="res/icon-small-20@3x.png" width="60" height="60"/>

<icon src="res/icon-small-40.png" width="40" height="40"/>
<icon src="res/icon-small-40@2x.png" width="80" height="80"/>
<icon src="res/icon-small-40@3x.png" width="120" height="120"/>
<!-- iOS 6.1 icons -->
<!-- iPhone / iPod Touch -->
<icon src="res/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="res/icon@2x.png" gap:platform="ios" width="114" height="114" />

<!-- Define app splash screen for each platform. -->
<!-- iPhone and iPod touch -->
<gap:splash src="res/Default.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="res/Default@2x.png" gap:platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
<gap:splash src="res/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

<!-- iPhone 6 -->
<gap:splash src="res/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="res/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="res/Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />

<!-- iPad -->
<gap:splash src="res/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="res/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
<gap:splash src="res/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="res/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

<gap:config-file platform="android" parent="/manifest">
  <application android:debuggable="false" />
</gap:config-file>
</widget>
