body, html{width:100%; height:100%;}

div{-webkit-backface-visibility:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#cpaWrapper input{-webkit-border-radius:0px; -webkit-appearance:none;}


@font-face {
    font-family: 'alegreyaSc';
    src: url('nav/alegreya-sc-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'openSans';
    src: url('nav/MartelSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'openSansSemiBold';
    src: url('nav/MartelSans-DemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'openSansBold';
    src: url('nav/MartelSans-Bold.ttf') format('truetype');
}

/*
@font-face {
    font-family: 'WinthorpeSc';
    src: url('nav/WinthorpeSc.ttf') format('truetype');
}
@font-face {
    font-family: 'openSans';
    src: url('nav/OpenSans.ttf') format('truetype');
}
@font-face {
    font-family: 'openSansSemiBold';
    src: url('nav/OpenSansSemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'openSansBold';
    src: url('nav/OpenSansBold.ttf') format('truetype');
}
*/
h2{background-color:#d98c13; text-align:center; clear:both; color:#000000;}
.fullButton{float:left; background-color:#ba1c1b; text-align:center; color:white;}
.leftButton{float:left; background-color:#ba1c1b; text-align:center; color:white;}
.middleButton{float:left; background-color:#ba1c1b; text-align:center; color:white;}
.halfButton{float:left; background-color:#ba1c1b; text-align:center; color:white;}
.rightButton{float:left; background-color:#ba1c1b; text-align:center; color:white;}
.wideButton{float:left; background-color:#ba1c1b; text-align:center; color:white;}
.smallButton{float:left; background-color:#ba1c1b; text-align:center; color:white;}
.gapButton{float:left; background-color:#000;}
.nonLeftButton{float:left; background-color:#000;}
.nonMiddleButton{float:left; background-color:#000;}
.nonHalfButton{float:left; background-color:#000;}
.nonRightButton{float:left; background-color:#000;}
.nonWideButton{float:left; background-color:#000;}
.nonSmallButton{float:left; background-color:#000;}
a{color:#C00000; text-decoration:none;}
